body{
    margin: 0%;
    overflow-x: hidden;
    background-color: #3498db;
}

#container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14% 28% 25% 40% 40% 30% 150%;
    grid-template-areas:
    'nav'
    'header'
    'main1'
    'main2'
    'section1 section2'
    'footer'
}
.nav{
    background-color: #3498db;
}

.header{
    background-color: #035287;
}

.main1{
    background-color: #3498db;
}

.main2{
    background-color: #3498db;
}

.section1{
    background-color: blue;
}

.section2{
    background-color: burlywood;
}

.footer{
    background-color: darkblue;
}

.header_text{
    text-align: center;
    font-size: 400%;
}

h2{
    font-size: 50%;
}

h3{
    position: absolute;
    left: 45%;
    top: 85%;
    font-size: 50%;
}

.logo{
    height: 250px;
}

.navigation{
    color: white;
    position: absolute;
    right: 2%;
    top: -3%;
    font-size: 800%;
}

.search{
    height: 100px;
    position: absolute;
    top: 11%;
    left: 50%;
}

.japanmap{
    height: 700px;
    position: absolute;
    top: 248%;
}

.japanmaptext{
    color: darkblue;
    position: absolute;
    left: 38%;
    top: 245%;
    font-size: 200%;
    background-color: #3498db;
}

.contact_text{
    text-align: center;
    text-transform: capitalize;
}