body{
    margin: 0%;
    overflow-x: hidden;
    background-color: #3498db;
}

/*
index.html
I
I
V
*/

#main_container{
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 270px 700px 750px 750px 710px 100px;
    grid-template-areas:
    'nav'
    'header'
    'main1'
    'main2'
    'main3'
    'footer';
}

/*
japan.html
I
I
V
*/

#container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 20%;
    grid-template-areas: 
    'navjapan'
    'headerjapan'
    'main1japan'
    'main2japan'
    'section1japan section2japan';
}

nav{
    grid-area: nav;
    display: flex;
    text-align: center;
}

header{
    background-color: #035287;
}

main1{
    position: relative;
}

main2{
    position: relative;
}

main3{
    position: relative;
}

.section1{
    position: relative;
}

.section2{
    position: relative;
}

footer{
    position: relative;
}

.logo{
    height: 250px;
}

.header_text{
    text-align: center;
    font-size: 400%;
    background-color: #035287;
    position: relative;
}

.italien{
    grid-area: main1;
}

.grekland{
    grid-area: main2;
}

.japan{
    grid-area: main3;
}

.japan_flat{
    height: 707px;
}

.italien_text{
    
    font-size: 800%;
    color: white;
    text-decoration: underline;
    position: absolute;
    bottom: 1px;
    
}

.grekland_text{
    font-size: 800%;
    color: white;
    text-decoration: underline;
    position: absolute;
    bottom: 1px;
}

.japan_text{
    font-size: 800%;
    color: #3498db;
    text-decoration: underline;
    position: absolute;
    bottom: 1px;
}


.italien_text :hover ::after{
    content: " - Read More";
}

.grekland_text :hover ::after{
    content: " - Read More";
}

.japan_text :hover ::after{
    content: " - Read More";
}

.japan_link{
    color: white;
}   

.japan_link:visited{
    color: white;
}   

.contact_text{
    text-align: center;
    text-transform: capitalize;
    justify-items: center;
    
}

h2{
    font-size: 50%;
    color: white;
}

h3{
    font-size: 50%;
    color: white;
}

h1{
    color: white;
}

.navigation{
    color: white;
    position: absolute;
    right: 2%;
    top: -3%;
    font-size: 800%;
}

.search{
    height: 100px;
    position: absolute;
    top: 11%;
    left: 50%;
}

/*
index.html
------------------------------------------------------------------------------------------------------------------
japan.html
*/

.navjapan{
    background-color: #3498db;
    position: relative;
    
}


.japanmap{
    grid-area: section1japan;
    height: 500px;
}

.japanmaptext{
    grid-area: section2japan;
    color: white;
    font-size: 200%;
}

.navigationjapan{
    color: white;
    grid-area: navjapan;
    font-size: 800%;
}

.searchjapan{
    height: 100px;
    grid-area: navjapan;
}

h2japan{
    font-size: 50%;
    color: white;
}

.japan_temple{
    grid-area: main2;
    height: 720px;
}

.tokyo{
    background-color: black;
    grid-area: main1;
    height: 720px;
    margin-bottom: 10px;
    margin-top: 100px;
}

/*
---------------------------------------------------------------
About Us site
I
I
V
*/



#about_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30%;
    grid-template-areas: 
    'navabout'
    'headerabout'
}

#about_in_container{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 80%;
    grid-template-areas:
    'aside1about section1about section2about'
    'aside2about section3about section4about'
}

.navigationabout{
    grid-area: navabout;
}

.headerabout{
    background-color: #035287;
}

.aside1about{
    grid-area: aside1about;
    background-color: #035287;
    height: 600px;
    margin: 10px;
    text-align: center;
}

.aside2about{
    grid-area: aside2about;
    height: 600px;
    margin: 10px;
    background-color: #035287;
    text-align: center;
}

.section1about{
    grid-area: section1about;
    text-align: center;
    height: 600px;
    margin: 20px;
    background-color: #035287;

}

.section2about{
    grid-area: section2about;
    height: 600px;
    margin: 20px;
    text-align: center; 
    background-color: #035287;
}

.section3about{
    grid-area: section3about;
    height: 600px;
    margin: 20px;
    text-align: center;
    background-color: #035287;
}

.section4about{
    grid-area: section4about;
    height: 600px;
    margin: 20px;
    text-align: center;
    background-color: #035287;
}

.cat_picture{
    height: 500px;
}

.cat_in_dress{
    height: 500px;
}

.intense_staring_guy{
    height: 500px;
}

.enginar{
    height: 500px;
}

h4{
    font-size: 200%;
    text-align: center;
    color: white;
}