body{
    margin: 0%;
    overflow-x: hidden;
    background-color: #3498db;
}

#main_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 25% 25% 25% 10%;
    grid-template-areas:
    'nav'
    'header'
    'main1'
    'main2'
    'main3'
    'footer'
}

#container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 25% 40% 40% 30% 150%;
    grid-template-areas:
    'nav'
    'header'
    'main1'
    'main2'
    'section1 section2'
}

#about_container{
    display: grid;
    
    margin: 5px;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
    'navabout'
    'headerabout'
    'aside1about section1about section2about'
    'aside2about section3about section4about'
    'footer'
}

nav{
    background-color: #3498db;
}

header{
    background-color: #035287;
}

main1{
    background-color: #3498db;
}

main2{
    background-color: #3498db;
}

main3{
    background-color: #3498db;
}

.section1{
    background-color: blue;
}

.section2{
    background-color: burlywood;
}

footer{
    background-color: #3498db;
}

.logo{
    height: 250px;
}

.header_text{
    text-align: center;
    font-size: 400%;
}

.italien{
    grid-area: main1;
}

.grekland{
    grid-area: main2;
}

.japan{
    grid-area: main3;
}

.japan_flat{
    height: 707px;
}

.italien_text{
    position: absolute;
    top: 150%;
    left: 2%;
    font-size: 800%;
    color: white;
    text-decoration: underline;
}

.grekland_text{
    position: absolute;
    top: 230%;
    left: 2%;
    font-size: 800%;
    color: white;
    text-decoration: underline;
}

.japan_text{
    position: absolute;
    top: 310%;
    left: 2%;
    font-size: 800%;
    color: #3498db;
    text-decoration: underline;
}


.italien_text :hover ::after{
    content: " - Read More";
}

.grekland_text :hover ::after{
    content: " - Read More";
}

.japan_text :hover ::after{
    content: " - Read More";
}

.japan_link{
    color: white;
}   

.japan_link:visited{
    color: white;
}   

.contact_text{
    text-align: center;
    text-transform: capitalize;
    
}

h2{
    font-size: 50%;
}

h3{
    position: absolute;
    left: 40%;
    top: 100%;
    font-size: 50%;
}

.navigation{
    color: white;
    position: absolute;
    right: 2%;
    top: -3%;
    font-size: 800%;
}

.search{
    height: 100px;
    position: absolute;
    top: 11%;
    left: 50%;
}

.japanmap{
    height: 700px;
    position: absolute;
    top: 260%;
}

.japanmaptext{
    color: darkblue;
    position: absolute;
    left: 38%;
    top: 256%;
    font-size: 200%;
    background-color: #3498db;
}

.navigationjapan{
    color: white;
    position: absolute;
    right: 2%;
    top: -3%;
    font-size: 800%;
}

.searchjapan{
    height: 100px;
    position: absolute;
    top: 11%;
    left: 50%;
}

h2japan{
    font-size: 50%;
}

h3japan{
    position: absolute;
    left: 45%;
    top: 105%;
    font-size: 50%;
}

.navabout{
    background-color: pink;
    grid-area: navabout;
    display: flex;
    margin: 5px;
}

.headerabout{
    background-color: aliceblue;
    grid-area: headerabout;
    margin: 5px;
}

.aside1about{
    background-color: aqua;
    grid-area: aside1about;
}

.section1about{
    background-color: black;
    grid-area: section1about;
    color: white;
}

.section2about{
    background-color: blueviolet;
    grid-area: section2about;
}

.aside2about{
    background-color: brown;
    grid-area: aside2about;
}

.section3about{
    background-color: chocolate;
    grid-area: section3about;
}

.section4about{
    background-color: chartreuse;
    grid-area: section4about;
}

.footerabout{
    background-color: cadetblue;
    grid-area: footerabout;
}